<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: white">
<div th:include="navbar.html"></div>

<h1>Clients</h1>
<div class="container">
    <form th:action="@{/user/search}" method="get" class="form-inline mb-3">
        <div class="form-group">
            <input type="text" name="mot" class="form-control" placeholder="Search by name" th:value="${mot}">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/addForm}" class="btn btn-success">Add Client</a>

    <table class="table table-striped">

        <thead>

        <tr>
            <th>id</th>
            <th>nom</th>
            <th>prenom</th>
            <th>age</th>
            <th sec:authorize="hasRole('ADMIN')">actions</th>
        </tr>

        </thead>


        <tbody>

        <tr th:each="c:${clients}">

            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.lastName}"></td>
            <td th:text="${c.age}"></td>
            <td sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-danger" th:href="@{/admin/delete(id=${c.id})}" onclick="return confirm('wax bs7 bghiti tms7 had khayna')">supprimer</a>
                <a class="btn btn-success" th:href="@{/admin/updateForm(id=${c.id})}">modifier</a>
            </td>

        </tr>

        </tbody>

    </table>
</div>
</body>
</html>